body{font-family: 'Open Sans', sans-serif;
}
/* nav Related Styel*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-tytle{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.Polas-P{
    color:#FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
 nav li{
    list-style: none;
    margin-right: 55px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 }
 nav a{
    text-decoration: none;
 }
 .button-primary{
    background-color: #FD6E0A;
    border: 0px;
    color: white;
    border-radius: 3px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding: 10px 35px;
 }
 /* Header Related Styel*/
 .Header{
    background-color:#fef2e9;
 }
 .banner{
    display: flex;
    padding-left: 200px;
    padding-right: 40px;
    background-image: url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}